{% extends "backend/base.html" %}
{% block title %} - Προσφορές {% endblock %}
{% load rest_framework %}
{% load static %}


{% block content %}

	<div class="row">
		<h2 class="card-title">Νέα Προσφορά</h2>
		<button type="button" rel="tooltip" title="" class="btn btn-link btn-success" id="new_offer_plus">
			<i class="tim-icons icon-simple-add"></i>
		</button>
	</div>
	<div class="row classLists">	
		<div class="card ">
			<div class="card-header ">
				<h6 class="title d-inline">Όλες οι Προσφορές(6)</h6>
				<p class="card-category d-inline">φίλτρο</p>
				<form class="d-inline" method="GET" action="{% url 'offers list' %}" >	<!-- action="{% url 'offers list' %}" and not action="offers " BECAUSE this way when path already offers/ it doesn't make it localhost/offers/offers -->
					<input class="btn-link" type="search" name="search"> 
					<button class="btn btn-link" type="submit"><i class="tim-icons icon-zoom-split" ></i>
						<span class="d-lg-none d-md-block">Search</span>
					</button>
				</form>
			</div>
			<div class="card-body ">
			<div class="table-full-width table-responsive">
				<table class="table" id="myTable">
				<tbody>
					{% for x in offers %}
						<tr class="firstrow">
							<td>
								<div class="form-check">
									<label class="form-check-label">
										<input class="form-check-input" type="checkbox" value="">
										<span class="form-check-sign">
										<span class="check"></span>
										</span>
									</label>
								</div>
							</td>
							<td>
								{% csrf_token %}
								<p class="title">{{x.customer_name}}</p>
								<p class="text-muted">{{x.description}}</p>							
							</td>
							<td class="td-actions text-right">
								<button type="button" rel="tooltip" title="edit" class="btn btn-link" data-original-title="Edit offer">
								<i class="tim-icons icon-pencil"></i>
								</button>
								<button type="button" rel="tooltip" title="expand" class="btn btn-link" data-original-title="Edit Task">
									<i class="tim-icons icon-notes"></i>
								</button>
								<button type="button" rel="tooltip" title="import" class="btn btn-link" data-original-title="import offer">
									<i class="tim-icons icon-cloud-upload-94"></i>
								</button>
							</td>
						</tr>	
						<tr style="display:none;">
							<td colspan="3">
								<table class='table'>
									<tr>
										<td> It is a 3rd Cell of 2nd row in the 1st Table. </td>  
										<td> It is a 4th Cell of 2nd row in the 1st Table. </td>
										<td> It is a 4th Cell of 2nd row in the 1st Table. </td>
										<td> It is a 4th Cell of 2nd row in the 1st Table. </td>  
									</tr>
								</table>
							</td>
						</tr>					
					{% endfor %}
				</tbody>
				</table>
			</div>
		</div>		
	</div>

<!-- lists  of parameters and details	 -->

</div>

	
<script src="{% static 'assets/js/all_lists.js' %}"></script>	
{% endblock content %}
