<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>Home Page</title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="">
	</head>
	<body>
		<!--[if lt IE 7]>
			<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
		<![endif]-->
		{% extends 'backend/main.html' %}
		{% load static %}
		{% block content %}
			<div class="row">
				{% for offer in offers %}
				<div class="col-lg-4">
					<!-- <img class="thumbnail" src="{{product.imageURL}}"> -->
					<div class="box-element product">
						<h3><strong>{{offer}}</strong></h3>
						<hr>
						{% for parameter in offer.parameter_set.all %}
							<h5>{{parameter}}</h5>
							{% for detail in parameter.detail_set.all %}
								<h6 style="red">{{detail}}</h6>
							{% endfor %}
						{% endfor %}
						<!-- <button data-product="{{product.id}}" data-action="add" class="btn btn-outline-secondary add-btn update-cart">Add to Cart</button> -->
						
						<!-- <a class="btn btn-outline-success" href="#">View</a> -->
						<!-- <h4 style="display: inline-block; float: right"><strong>€{{product.price}}</strong></h4> -->
						
					</div>
				</div>
				{% endfor %}
			</div>
			<div>
				<div id="form-wrapper">
					<form id="form">
						<div class="flex-wrapper">
							<div style="flex: 6">
								<hr>
								<h1><strong>Add an Offer</strong></h1>
								<input id="customer-name" class="form-control" type="text" name="customer-name" placeholder="What is the name of the customer...">
								<input id="description" class="form-control" type="text" name="description" placeholder="Description ...">
								<input id="number-of-pieces" class="form-control" type="text" name="number-of-pieces" placeholder="Τεμάχια">
							</div>
							<div style="flex: 1">
								<input id="submit" class="btn btn-success" type="submit" >
							</div>
						</div>
					</form>
				</div>
			</div>

			<script type="text/javascript">
				function getCookie(name) {
					var cookieValue = null;
					if (document.cookie && document.cookie !== '') {
						var cookies = document.cookie.split(';');
						for (var i = 0; i < cookies.length; i++) {
							var cookie = cookies[i].trim();
							// Does this cookie string begin with the name we want?
							if (cookie.substring(0, name.length + 1) === (name + '=')) {
								cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
								break;
							}
						}
					}
					return cookieValue;
				}
				var csrftoken = getCookie('csrftoken');
				var form = document.getElementById('form-wrapper')
				form.addEventListener('submit', function(e){
					e.preventDefault()
					console.log('Offer-Form submitted')
					var url = 'http://127.0.0.1:8000/create_offer/'
					// if (activeItem != null){
					// 	var url = `http://127.0.0.1:8000/api/task-update/${activeItem.id}/`
					// 	activeItem = null
					// }
					var data = {"customer_name": document.getElementById('customer-name').value,
        						"description": document.getElementById('description').value,
        						"number": document.getElementById('number-of-pieces').value,
							}
					console.log(data)
					fetch(url, {
						method:'POST',
						headers:{
							'Content-type':'application/json',
							'X-CSRFToken':csrftoken,
						},
						body:JSON.stringify(data)
					}
					).then(function(response){
						document.getElementById('form').reset()
					})
				})
			
			</script>
		{% endblock content %}
	</body>
</html>