{% extends "backend/base.html" %}
{% block title %} - Προσφορές {% endblock %}
{% load rest_framework %}


{% block content %}

	<div class="row">
		<h2 class="card-title">Νέα Προσφορά</h2>
		<button type="button" rel="tooltip" title="" class="btn btn-link btn-success" id="new_offer_plus">
			<i class="tim-icons icon-simple-add"></i>
		</button>
	</div>
	<div class="row" id= "new-offer">
		<div>
			<!-- <div class="card-header ">
				jkgl;'j'
			</div> -->
			<div>
				<form method="POST" action="{% url 'offers list' %}" >	<!-- action="{% url 'offers list' %}" and not action="offers " BECAUSE this way when path already offers/ it doesn't make it localhost/offers/offers -->
					{% csrf_token %}
					<!-- {% render_form formOffer template_pack='rest_framework/horizontal' %}	 -->
					{% render_field formOffer.customer_name style=style %}
					{% render_field formOffer.description style=style %}
					{% render_field formOffer.number style=style %}
					{% render_field formOffer.extra_price style=style %}
					<div class="row">
						<div class="col-xs-4">
							{% render_field formOffer.parameters style=style %}
						</div>
						<div class="col-xs-4">
							<i class="tim-icons icon-simple-add col-xs-4"></i>
						</div>
					</div>
					<button type="submit" class="btn btn-info">ADD OFFER</button>
				</form>
			</div>
		</div>
	</div>
<!-- Add a new parameter THIS BLOCK IS NOT YET READY -->
	<div class="row d-none" id= "new-parameter">
		<div>
			<!-- <div class="card-header ">
				jkgl;'j'
			</div> -->
			<div>
				<form method="POST" action="{% url 'offers list' %}" >	<!-- action="{% url 'offers list' %}" and not action="offers " BECAUSE this way when path already offers/ it doesn't make it localhost/offers/offers -->
					{% csrf_token %}
					<!-- {% render_form formOffer template_pack='rest_framework/horizontal' %}	 -->
					{% render_field formOffer.customer_name style=style %}
					{% render_field formOffer.description style=style %}
					{% render_field formOffer.number style=style %}
					{% render_field formOffer.extra_price style=style %}
					<div class="row">
						<div class="col-xs-4">
							{% render_field formOffer.parameters style=style %}
						</div>
						<div class="col-xs-4">
							<i class="tim-icons icon-simple-add col-xs-4"></i>
						</div>
					</div>
					<button type="submit" class="btn btn-info">ADD OFFER</button>
				</form>
			</div>
		</div>
	</div>
<!-- Add a new detail THIS BLOCK IS NOT YET READY -->
	<div class="row d-none" id= "new-offer">
		<div>
			<!-- <div class="card-header ">
				jkgl;'j'
			</div> -->
			<div>
				<form method="POST" action="{% url 'offers list' %}" >	<!-- action="{% url 'offers list' %}" and not action="offers " BECAUSE this way when path already offers/ it doesn't make it localhost/offers/offers -->
					{% csrf_token %}
					<!-- {% render_form formOffer template_pack='rest_framework/horizontal' %}	 -->
					{% render_field formOffer.customer_name style=style %}
					{% render_field formOffer.description style=style %}
					{% render_field formOffer.number style=style %}
					{% render_field formOffer.extra_price style=style %}
					<div class="row">
						<div class="col-xs-4">
							{% render_field formOffer.parameters style=style %}
						</div>
						<div class="col-xs-4">
							<i class="tim-icons icon-simple-add col-xs-4"></i>
						</div>
					</div>
					<button type="submit" class="btn btn-info">ADD OFFER</button>
				</form>
			</div>
		</div>
	</div>
	
{% endblock content %}