{% extends "backend/base.html" %}
{% block title %} - Προσφορές {% endblock %}
{% load rest_framework %}


{% block content %}

	<div class="row">
		<h2 class="card-title">Νέα Προσφορά</h2>
		<button type="button" rel="tooltip" title="" class="btn btn-link btn-success" data-original-title="Edit Task">
			<i class="tim-icons icon-simple-add"></i>
		</button>
	</div>
	<div class="row">	
		<div class="card card-tasks">
			<div class="card-header ">
				<h6 class="title d-inline">Όλες οι Προσφορές(6)</h6>
				<p class="card-category d-inline">φίλτρο</p>
				<form class="d-inline" method="GET" action="{% url 'offers list' %}" >	<!-- action="{% url 'offers list' %}" and not action="offers " BECAUSE this way when path already offers/ it doesn't make it localhost/offers/offers -->
					<input class="btn-link" type="search" name="search"> 
					<button class="btn btn-link" type="submit"><i class="tim-icons icon-zoom-split" ></i>
						<span class="d-lg-none d-md-block">Search</span>
					</button>
				</form>
				<div class="dropdown">
					<button type="button" class="btn btn-link dropdown-toggle btn-icon" data-toggle="dropdown">
						<i class="tim-icons icon-settings-gear-63"></i>
					</button>
					<div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
						<a class="dropdown-item" href="#pablo">Action</a>
						<a class="dropdown-item" href="#pablo">Another action</a>
						<a class="dropdown-item" href="#pablo">Something else</a>
					</div>
				</div>
			</div>
			<div class="card-body ">
			<div class="table-full-width table-responsive">
				<table class="table">
				<tbody>
					{% for result in all_search_results %}
						<tr>
							<td>
								<div class="form-check">
									<label class="form-check-label">
										<input class="form-check-input" type="checkbox" value="">
										<span class="form-check-sign">
										<span class="check"></span>
										</span>
									</label>
								</div>
							</td>
							<td>
								{% csrf_token %}
								<p class="title">{{result.customer_name}}</p>
								<p class="teresultt-muted">{{result.description}}</p>							
							</td>
							<td class="td-actions text-right">
								<button type="button" rel="tooltip" title="edit" class="btn btn-link" data-original-title="Edit offer">
								<i class="tim-icons icon-pencil"></i>
								</button>
								<button type="button" rel="tooltip" title="expand" class="btn btn-link" data-original-title="Edit Task">
									<i class="tim-icons icon-notes"></i>
								</button>
								<button type="button" rel="tooltip" title="import" class="btn btn-link" data-original-title="import offer">
									<i class="tim-icons icon-cloud-upload-94"></i>
								</button>
							</td>
						</tr>
					{% empty %}
						{% for x in offers %}
						<tr>
							<td>
								<div class="form-check">
									<label class="form-check-label">
										<input class="form-check-input" type="checkbox" value="">
										<span class="form-check-sign">
										<span class="check"></span>
										</span>
									</label>
								</div>
							</td>
							<td>
								{% csrf_token %}
								<p class="title">{{x.customer_name}}</p>
								<p class="text-muted">{{x.description}}</p>							
							</td>
							<td class="td-actions text-right">
								<button type="button" rel="tooltip" title="edit" class="btn btn-link" data-original-title="Edit offer">
								<i class="tim-icons icon-pencil"></i>
								</button>
								<button type="button" rel="tooltip" title="expand" class="btn btn-link" data-original-title="Edit Task">
									<i class="tim-icons icon-notes"></i>
								</button>
								<button type="button" rel="tooltip" title="import" class="btn btn-link" data-original-title="import offer">
									<i class="tim-icons icon-cloud-upload-94"></i>
								</button>
							</td>
						</tr>
						{% endfor %}
					{% endfor %}
				</tbody>
				</table>
			</div>
		</div>		
	</div>

<!-- lists  of parameters and details	 -->

	<div class="row"style="width: 100%;">
		<div class="col-lg-6 col-md-12">
			<div class="card card-tasks">
			<div class="card-header ">
				<h6 class="title d-inline">Όλες οι Παράμετροι(6)</h6>
				<p class="card-category d-inline">φίλτρο</p>
				<form class="d-inline" method="GET" action="{% url 'parameters list' %}" >	<!-- action="{% url 'offers list' %}" and not action="offers " BECAUSE this way when path already offers/ it doesn't make it localhost/offers/offers -->
					<input class="btn-link" type="search" name="search"> 
					<button class="btn btn-link" type="submit"><i class="tim-icons icon-zoom-split" ></i>
						<span class="d-lg-none d-md-block">Search</span>
					</button>
				</form>
				<div class="dropdown">
					<button type="button" class="btn btn-link dropdown-toggle btn-icon" data-toggle="dropdown">
						<i class="tim-icons icon-settings-gear-63"></i>
					</button>
					<div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
						<a class="dropdown-item" href="#pablo">Action</a>
						<a class="dropdown-item" href="#pablo">Another action</a>
						<a class="dropdown-item" href="#pablo">Something else</a>
					</div>
				</div>
			</div>
			<div class="card-body ">
			<div class="table-full-width table-responsive">
				<table class="table">
				<tbody>
					{% for result in all_search_results %}
						<tr>
							<td>
								<div class="form-check">
									<label class="form-check-label">
										<input class="form-check-input" type="checkbox" value="">
										<span class="form-check-sign">
										<span class="check"></span>
										</span>
									</label>
								</div>
							</td>
							<td>
								{% csrf_token %}
								<p class="title">{{result.name}}</p>
								<p class="teresultt-muted">{{result.description}}</p>							
							</td>
							<td class="td-actions text-right">
								<button type="button" rel="tooltip" title="edit" class="btn btn-link" data-original-title="Edit parameter">
								<i class="tim-icons icon-pencil"></i>
								</button>
								<button type="button" rel="tooltip" title="expand" class="btn btn-link" data-original-title="Edit Task">
									<i class="tim-icons icon-notes"></i>
								</button>
								<button type="button" rel="tooltip" title="import" class="btn btn-link" data-original-title="import parameter">
									<i class="tim-icons icon-cloud-upload-94"></i>
								</button>
							</td>
						</tr>
					{% empty %}
						{% for x in parameters %}
						<tr>
							<td>
								<div class="form-check">
									<label class="form-check-label">
										<input class="form-check-input" type="checkbox" value="">
										<span class="form-check-sign">
										<span class="check"></span>
										</span>
									</label>
								</div>
							</td>
							<td>
								{% csrf_token %}
								<p class="title">{{x.name}}</p>
								<p class="text-muted">{{x.description}}</p>							
							</td>
							<td class="td-actions text-right">
								<button type="button" rel="tooltip" title="edit" class="btn btn-link" data-original-title="Edit parameter">
								<i class="tim-icons icon-pencil"></i>
								</button>
								<button type="button" rel="tooltip" title="expand" class="btn btn-link" data-original-title="Edit Task">
									<i class="tim-icons icon-notes"></i>
								</button>
								<button type="button" rel="tooltip" title="import" class="btn btn-link" data-original-title="import parameter">
									<i class="tim-icons icon-cloud-upload-94"></i>
								</button>
							</td>
						</tr>
						{% endfor %}
					{% endfor %}
				</tbody>
				</table>
			</div>
		</div>
		</div>
		</div>
		<div class="col-lg-6 col-md-12">
			<div class="card card-tasks">
			<div class="card-header ">
				<h6 class="title d-inline">Όλες οι Leptomereies(6)</h6>
				<p class="card-category d-inline">φίλτρο</p>
				<form class="d-inline" method="GET" action="{% url 'details list' %}" >	<!-- action="{% url 'details list' %}" and not action="details " BECAUSE this way when path already details/ it doesn't make it localhost/details/details -->
					<input class="btn-link" type="search" name="search"> 
					<button class="btn btn-link" type="submit"><i class="tim-icons icon-zoom-split" ></i>
						<span class="d-lg-none d-md-block">Search</span>
					</button>
				</form>
				<div class="dropdown">
					<button type="button" class="btn btn-link dropdown-toggle btn-icon" data-toggle="dropdown">
						<i class="tim-icons icon-settings-gear-63"></i>
					</button>
					<div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
						<a class="dropdown-item" href="#pablo">Action</a>
						<a class="dropdown-item" href="#pablo">Another action</a>
						<a class="dropdown-item" href="#pablo">Something else</a>
					</div>
				</div>
			</div>
			<div class="card-body ">
			<div class="table-full-width table-responsive">
				<table class="table">
				<tbody>
					{% for result in all_search_results %}
						<tr>
							<td>
								<div class="form-check">
									<label class="form-check-label">
										<input class="form-check-input" type="checkbox" value="">
										<span class="form-check-sign">
										<span class="check"></span>
										</span>
									</label>
								</div>
							</td>
							<td>
								{% csrf_token %}
								<p class="title">{{result.name}}</p>
								<p class="teresultt-muted">{{result.category}}</p>							
							</td>
							<td class="td-actions text-right">
								<button type="button" rel="tooltip" title="edit" class="btn btn-link" data-original-title="Edit detail">
								<i class="tim-icons icon-pencil"></i>
								</button>
								<button type="button" rel="tooltip" title="expand" class="btn btn-link" data-original-title="Edit Task">
									<i class="tim-icons icon-notes"></i>
								</button>
								<button type="button" rel="tooltip" title="import" class="btn btn-link" data-original-title="import detail">
									<i class="tim-icons icon-cloud-upload-94"></i>
								</button>
							</td>
						</tr>
					{% empty %}
						{% for x in details %}
						<tr>
							<td>
								<div class="form-check">
									<label class="form-check-label">
										<input class="form-check-input" type="checkbox" value="">
										<span class="form-check-sign">
										<span class="check"></span>
										</span>
									</label>
								</div>
							</td>
							<td>
								{% csrf_token %}
								<p class="title">{{x.name}}</p>
								<p class="text-muted">{{x.category}}</p>							
							</td>
							<td class="td-actions text-right">
								<button type="button" rel="tooltip" title="edit" class="btn btn-link" data-original-title="Edit detail">
								<i class="tim-icons icon-pencil"></i>
								</button>
								<button type="button" rel="tooltip" title="expand" class="btn btn-link" data-original-title="Edit Task">
									<i class="tim-icons icon-notes"></i>
								</button>
								<button type="button" rel="tooltip" title="import" class="btn btn-link" data-original-title="import detail">
									<i class="tim-icons icon-cloud-upload-94"></i>
								</button>
							</td>
						</tr>
						{% endfor %}
					{% endfor %}
				</tbody>
				</table>
			</div>
		</div>
		</div>
		</div>
	</div>
	
{% endblock content %}